.crew {
  &-rank {
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--ff-heading);
    text-transform: uppercase;
    color: var(--white);
    opacity: 0.5;

    @media (min-width: $bp-tablet) {
      font-size: var(--fs-250);
    }

    @media (min-width: $bp-desktop) {
      font-size: var(--fs-400);
    }
  }

  &-name {
    font-weight: 400;
    font-size: var(--fs-250);
    font-family: var(--ff-heading);
    text-transform: uppercase;
    color: var(--white);

    @media (min-width: $bp-tablet) {
      font-size: var(--fs-500);
    }

    @media (min-width: $bp-desktop) {
      font-size: var(--fs-600);
    }
  }
}

.crew-nav {
  background-color: red;
  height: 10px;
  margin-block: 2rem;
}
