.destination {
  // grid properties
  &-grid {
    @media (min-width: $bp-desktop) {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: auto 1fr;
    }
  }

  &-media {
    width: 100%;
    grid-row: 1 / span 2;
    place-self: center;

    padding-top: var(--fs-400);
    padding-bottom: var(--fs-300);
  }

  &-nav {
    @media (min-width: $bp-desktop) {
      padding-inline: 10%;
    }
  }

  &-content {
    @media (min-width: $bp-desktop) {
      padding-inline: 10%;
    }
  }

  &-image {
    max-width: 170px;
    margin-inline: auto;
    display: none;

    &._selected {
      display: block;
    }

    @media (min-width: $bp-tablet) {
      max-width: 300px;
    }

    @media (min-width: $bp-desktop) {
      max-width: 445px;
    }
  }

  &-title {
    font-weight: 400;
    font-size: var(--fs-600);
    font-family: var(--ff-heading);
    text-transform: uppercase;
    color: var(--white);
    line-height: 1.14;
    padding-top: 1.25rem;

    @media (min-width: $bp-tablet) {
      font-size: var(--fs-700);
    }

    @media (min-width: $bp-desktop) {
      font-size: var(--fs-800);
    }
  }

  &-stats {
    display: flex;
    flex-direction: column;
    margin-top: var(--fs-400);
    border-top: 1px solid #383b4b;
  }

  &-label {
    font-weight: 400;
    font-size: var(--fs-50);
    font-family: var(--ff-nav);
    line-height: 1.21;
    text-transform: uppercase;
    letter-spacing: 2.3625px;
    color: var(--accent);
  }

  &-value {
    font-weight: 400;
    font-size: var(--fs-300);
    font-family: var(--ff-heading);
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--white);
  }
}

dl {
  display: block;
  padding-top: var(--fs-400);
}

.tabs {
  [role='tablist'] {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    column-gap: var(--fs-300);

    @media (min-width: $bp-desktop) {
      justify-content: start;
    }
  }
}

.tab-link {
  font-weight: 400;
  font-size: var(--fs-50);
  font-family: var(--ff-nav);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  line-height: 1.2em;

  background-color: transparent;
  color: var(--accent);
  border: 0;
  border-bottom: 3px solid transparent;
  padding: 0;

  cursor: pointer;

  @media (min-width: $bp-tablet) {
    font-size: 1rem;
  }

  &[aria-selected='true'],
  &:hover {
    color: var(--light);
    border-bottom-color: var(--light);
  }

  &:focus-visible {
    outline: 2px dashed var(--light);
  }
}

.tab-content {
  [hidden='true'] {
    display: none;
  }
}
