---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Homepage">
  <main>
    <h1 class="page-title accent">SO, YOU WANT TO TRAVEL TO</h1>
    <h2 class="home-title">Space</h2>
    <p>
      Let’s face it; if you want to go to space, you might as well genuinely go
      to outer space and not hover kind of on the edge of it. Well sit back, and
      relax because we’ll give you a truly out of this world experience!
    </p>
    <a class="btn-explore" href="/destination/">EXPLORE</a>
  </main>
</Layout>

<style lang="scss">
  @import '../styles/_variables.scss';

  body {
    background-image: url(assets/home/background-home-mobile.jpg);

    @media (min-width: $bp-tablet) {
      background-image: url(assets/home/background-home-tablet.jpg);
    }

    @media (min-width: $bp-desktop) {
      background-image: url(assets/home/background-home-desktop.jpg);
    }
  }
</style>
