---
import Layout from '../layouts/Layout.astro';
import Technology from '../components/Technology.astro';

import data from '../data/data.json';
const technologyData = data.technology;
---

<Layout title="Technology">
  <main>
    <h1 class="page-title" data-prefix="03">Space launch 101</h1>

    {
      technologyData.map((technology) => (
        <Technology
          name={technology.name}
          imagePortrait={technology.images.portrait}
          imageLandscape={technology.images.landscape}
          description={technology.description}
        />
      ))
    }
  </main>
</Layout>

<style lang="scss">
  @import '../styles/_variables.scss';

  body {
    background-image: url(assets/technology/background-technology-mobile.jpg);

    @media (min-width: $bp-tablet) {
      background-image: url(assets/technology/background-technology-tablet.jpg);
    }

    @media (min-width: $bp-desktop) {
      background-image: url(assets/technology/background-technology-desktop.jpg);
    }
  }
</style>
