---
export interface Props {
  name: string;
  imagePng: string;
  imageWebp: string;
  role: string;
  bio: string;
}

const { name, imagePng, imageWebp, role, bio } = Astro.props as Props;
---

<article>
  <h3 class="crew-rank">{role}</h3>
  <h2 class="crew-name">{name}</h2>
  <p>{bio}</p>
</article>
