---
export interface Props {
  name: string;
  description: string;
}

const { name, description } = Astro.props as Props;
---

<article>
  <h3 class="technology-label">The terminology…</h3>
  <h2 class="technology-title">{name}</h2>
  <p>{description}</p>
</article>
